<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Notes</th>
      <th>Jobs</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.try(:name) %></td>
        <td><%= user.try(:email) %></td>
        <td><%= user.try(:phone) %></td>
        <td>
          <% unless user.notes.blank? %>
            <% user.notes.each do |note| %>
              <%= note.message %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless user.jobs.blank? %>
            <% user.jobs.each do |job| %>
              <%= job.title %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4>Import File:</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import CSV' %>
  <% end %>
</div>
