<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Notes</th>
      <th>Jobs</th>
      <th>Applied At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.try(:name) %></td>
        <td><%= user.try(:email) %></td>
        <td><%= user.try(:phone) %></td>
        <td>
          <% unless user.notes.blank? %>
            <% user.notes.each do |note| %>
              <%= truncate(note.message, length: 100, separator: '.') %><br/>
            <% end %>
          <% end %>
        </td>
        <% if Candidate.where(user_id: user.id).present? %>
          <td>
            <% user.candidates.each do |candidate| %>
              <%= candidate.job.title %><br/>
            <% end %>
          </td>
          <td>
            <% user.candidates.each do |candidate| %>
              <%= candidate.applied_at.to_date %><br/>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4>Import File:</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import CSV' %>
  <% end %>
</div>
